# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.egg-info/

# Logs & sensitive artifacts
*.log
loot_log.json
*.db
*.sqlite
secrets.*
*.key
*.pem
aes_key.txt
encrypted_payload.txt

# Builds / packages
dist/
build/
*.zip
session_key.bin
session_memory.json
loot_log.json
*.pdf
